################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/stm32c8t6_gy91/MDK-ARM/DebugConfig
/stm32c8t6_gy91/MDK-ARM/stm32c8t6_gy91
